# Common
COMPOSE_NETWORK_NAME=IMAIS

# Kafka
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
KAFKA_CLUSTER_ID=UBU1ZNTgQXO4U3kNUCLIcw
KAFKA_BOOTSTRAP_SERVER=kafka:9092
KAFKA_HEALTHCHECK_INTERVAL=10s
KAFKA_HEALTHCHECK_TIMEOUT=10s
KAFKA_HEALTHCHECK_RETRIES=10
KAFKA_UI_PORT=8090
KAFKA_UI_CLUSTER_NAME=IMAIS
KAFKA_TOPIC_STATUS_NAME=status
KAFKA_TOPIC_STATUS_PARTITIONS=3
KAFKA_TOPIC_STATUS_REPLICATION_FACTOR=1
KAFKA_TOPIC_PENDING_NAME=pending
KAFKA_TOPIC_PENDING_PARTITIONS=3
KAFKA_TOPIC_PENDING_REPLICATION_FACTOR=1
KAFKA_TOPIC_APPROVED_NAME=approved
KAFKA_TOPIC_APPROVED_PARTITIONS=3
KAFKA_TOPIC_APPROVED_REPLICATION_FACTOR=1
KAFKA_TOPIC_REJECTED_NAME=rejected
KAFKA_TOPIC_REJECTED_PARTITIONS=3
KAFKA_TOPIC_REJECTED_REPLICATION_FACTOR=1
KAFKA_TOPIC_NSFW_NAME=nsfw
KAFKA_TOPIC_NSFW_PARTITIONS=3
KAFKA_TOPIC_NSFW_REPLICATION_FACTOR=1
KAFKA_TOPIC_WEAPON_NAME=weapon
KAFKA_TOPIC_WEAPON_PARTITIONS=3
KAFKA_TOPIC_WEAPON_REPLICATION_FACTOR=1
KAFKA_TOPIC_VIOLENCE_NAME=violence
KAFKA_TOPIC_VIOLENCE_PARTITIONS=3
KAFKA_TOPIC_VIOLENCE_REPLICATION_FACTOR=1
KAFKA_TOPIC_ML_ANSWER_NAME=ml-answer
KAFKA_TOPIC_ML_ANSWER_PARTITIONS=3
KAFKA_TOPIC_ML_ANSWER_REPLICATION_FACTOR=1

# MinIO / S3
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_CONSOLE_ADDRESS=:9001
MINIO_SERVER_URL=http://minio:9000
MINIO_HEALTHCHECK_URL=http://localhost:9000/minio/health/live
MINIO_HEALTHCHECK_INTERVAL=10s
MINIO_HEALTHCHECK_TIMEOUT=5s
MINIO_HEALTHCHECK_RETRIES=5
MINIO_INIT_IMAGE=minio/mc:latest
MINIO_INIT_CONTAINER_NAME=minio-init
MINIO_BUCKET_PENDING=imais-pending
MINIO_BUCKET_APPROVED=imais-approved
MINIO_BUCKET_REJECTED=imais-rejected
